.navbar-nav .nav-item {
    margin-right: 15px; /* Adjust this value to increase or decrease the space */
  }

  /* This ensures the search bar is at the right end */
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }

  .navbar-collapse ul {
    flex-grow: 1;
  }

  .navbar-collapse form {
    margin-left: auto;
  }
  
